body {
  margin:0 auto;
  border: 0.5px solid rgb(139, 125, 125);
}

.title {
color:gray;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align:center;
font-size: 40px;
margin: 50px;
width:50%;
background:;
position:relative;
left:170px;
}

span {
  font-size:30px;
  position:relative;
  bottom:10px;
}

.top-left-corner-float {
 float: left;
 position:relative;
 bottom: 180px;
 width:200px;
 height:120px;
 background: rgb(196, 188, 188);
 margin:4px;
}

.top-right-corner-float {
  float:right;
  position:relative;
  bottom: 180px;
  width:200px;
  height:120px;
  background: rgb(196, 188, 188);
  margin:4px;
}

.line1:after {
  content:"";
  position:absolute;
  border: 0.5px solid rgb(139, 125, 125);
  width:233px;
  transform: rotate(30.8deg);
  transform-origin: 0% 0%;
}

.line2:after {
  content:"";
  position:absolute;
  left:249px;
  border: 0.5px solid rgb(139, 125, 125);
  width:233px;
  transform: rotate(149deg);
  transform-origin: -10.5% -650%;
}

.row-2 {
  position:relative;
  margin-left:10px;
  width:120px;
  height:10px;
  border: 1px solid gray;
  border-radius:10px;
  background: rgb(196, 188, 188);

}

.one {
  position:relative;
  left:440px;
  bottom:48px;
}
.two {
  position:relative;
  left:290px;
  bottom: 93px;
}
.three {
  position:relative;
  left:150px;
  bottom: 140px;
}

hr {
  width:800px;
}

.flat-line {
  border:0.2px solid ;
  width: 800px;
  margin-left:20px;
  position:relative;
  bottom:125px;
}

.vert-line {
  position:relative;
  height:40px;
  width:1px;
  vertical-align: text-top;
  border: 0.5px solid rgb(143, 129, 129);
}

.one1 {
  position:relative;
  left:228px;
  bottom:24px;
}
.two1 {
  position:relative;
  left:-62px;
  bottom: 71px;
}
.three1 {
  position:relative;
  left:82px;
  bottom:120px;
}